@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
body{
    background-image:linear-gradient(#003);
    background-size: contain;
    height: 100vh;
     
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px ;
    
}
nav .logo{
    color: white;
    font-family: DynaPuff;
    font-size: 35px;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 2px;
    text-shadow: 1px 1px 20px white;
    animation: x 3s ease infinite;
    
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav ul li{
    list-style-type: none;
    margin:0 35px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-family:sans-serif ;
}
nav ul li a:hover{
    color: rgb(38, 0, 255);
    text-decoration: underline;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 0 100px;
}
.content1,.content2,.content3,.content4{
    margin:  20px;
    background: rgba(255, 255, 255, 0.1);
    padding:25px 25px;
    border-radius: 30px;
    
}
img{
    border-radius: 20px;
}
.content h3{
    text-align: center;
    color: white;
    font-weight: 400;
}

.content p{
    text-align: center;
    color: white;
    font-weight: 500;
}
.content button{
    font-size: 16px;
    font-weight: 500;
    margin-left: 80px;
    margin-top: 7px;
    padding: 5px 10px;
    border-radius: 20px;

}
.content button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes x{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
     100%{
        transform: translateY(0);
    }
}
@media (max-width:600px){
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav .logo{
        font-size: 30px;

    }
    nav ul li{
        margin: 10px 15px;
        margin-top: 20px;
    }
    nav ul li a{
        font-size: 11px;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        translate: 0 20px;
    }
    
}